include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "How to Stop Choosing JavaScript&nbsp;Frameworks and Start Living"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x9.css')
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', header: title, classes:'cover'})
      p Sasha Shynkevich (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      a.copyright(href="https://artsandculture.google.com/asset/knight-at-the-crossroads/wAFehP4o2JFtMA") Google Atrs & Culture. Knight at the Crossroads
      +cover('pictures/cover.jpg')
    +slide({header: "", classes: ""})
      div(style="margin-left: 50%; width: 60%; font-size: 0.8em")
        h2 Hi, my name is Sasha!
        ul
          li.next Lead Frontend Developer
          li.next Almost 15 years of experience
          li.next jQuery, VanillaJS, AngularJS, React, Angular and Vue.js
          li.next And Node.js
        p.next(style="margin-top: 150px")
          img.logo(src="pictures/minskcss.png")
          img.logo(src="pictures/minskjs.png")
          img.logo(src="pictures/css-minsk-js.svg", style="background-color: #2b2727; height: 75px")
          img.logo(src="pictures/fc.png")
      +cover('pictures/about-cover.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/frameworks.jpg')
      img(src="pictures/confused.gif", style="position: absolute; left: 30%; bottom: -10%; width: 500px")
    +slide({header: "", classes: "no-page"})
      +cover('pictures/bullet.jpg')
      +cover('pictures/no.png', 'next')
    +slide({header: "What I might say about JS frameworks", classes: ""})
      ul
        li Platforms overview
        li Dive deep into architectural patterns
        li Tools and libraries in the JS ecosystem
        li How we moved for A to B and survived
        li Best practices and real-life examples
      ul
        li.next Compare frameworks
      video.next(src="pictures/lol_no.mp4", autoplay, loop, muted, playsinline, style="position: absolute; bottom: 0; right: 0; width: 300px;")
    +slide({header: "", classes: "no-page"})
      video.cover(src="pictures/inspiration.mp4", autoplay, loop, muted, playsinline, style="width: 100%")
    +slide({header: "", classes: ""})
      +cover('pictures/goodparts.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/tears.jpg')
    +slide({header: "", classes: "no-page"})
      h2(style="position: absolute; top: 25%; right: 5%; color: #0d1a0a") What is wrong with JavaScript?
      +cover('pictures/philosoraptor.jpg')
    +slide({header: "#1. JavaScript is a bad language", classes: ""})
      +cover('pictures/fake_js_logo.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/true_is_false.jpg')
    +slide({header: "", classes: ""})
      video.cover(src="pictures/hard.mp4", autoplay, loop, muted, playsinline, style="height: 100%")
    +slide({header: "", classes: ""})
      a.copyright(href="http://www.ecma-international.org/ecma-262/10.0/index.html#Title") ECMA-262, 10th edition
      +cover('pictures/esnext.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://kangax.github.io/compat-table/es2016plus/") ECMAScript 2016+ compatibility table
      +cover('pictures/features.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/other_languages.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/backend.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="http://frontendconf.ru/moscow-rit/2019/abstracts/4775") Андрей Смирнов — Почему не надо становиться руководителем
      +cover('pictures/teamleads.jpg')
    +slide({header: "", classes: ""})
      h2(style="color: #fff; position: absolute; top: 35%; right: 10%; text-shadow: 0 0 10px #000, 0 0 20px #000") #2. Too many tools
      +cover('pictures/too_much.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://hackernoon.com/how-it-feels-to-learn-javascript-in-2016-d3a717dd577f") How it feels to learn JavaScript in 2016
      +cover('pictures/insane.jpg')
    +slide({header: "", classes: ""})
      video.cover(src="pictures/competition.mp4", autoplay, loop, muted, playsinline, style="width: 100%")
    +slide({header: "#3. Too many choices", classes: ""})
      +cover('pictures/suffer.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/npm.jpg')
    +slide({header: "#4. Changes in the industry are too fast", classes: ""})
      +cover('pictures/speed.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/web.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/ecosystem.jpg')
    +slide({header: "", classes: ""})
      video.cover(src="pictures/banana.mp4", autoplay, loop, muted, playsinline, style="width: 100%")
    +slide({header: "", classes: "no-page"})
      +cover('pictures/legacy.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://medium.com/dev-channel/a-netflix-web-performance-case-study-c0bcde26a9d9") A Netflix Web Performance Case Study
      +cover('pictures/netflix.jpg')
    +slide({header: "#5. A long learning curve", classes: ""})
      a.copyright(href="https://github.com/kamranahmedse/developer-roadmap#frontend-roadmap") Web Developer Roadmap
      +cover('pictures/long_way.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/experience.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://2018.stateofjs.com/javascript-flavors/overview/") State of JavaScript — JavaScript Flavours
      +cover('pictures/happiness.jpg')
    +slide({header: "", classes: "no-page"})
      video.cover(src="pictures/good.mp4", autoplay, loop, muted, playsinline, style="width: 100%; max-height: none;")
    +slide({header: "", classes: "no-page"})
      +cover('pictures/deeper.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://2020.stateofjs.com/en-US/technologies/javascript-flavors/#javascript_flavors_happiness") State of JavaScript — JavaScript Flavours (2020)
      +cover('pictures/happiness2.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/hard.jpg')
    +slide({header: "Fact #1. Browser supports HTML, CSS and JS", classes: ""})
      +cover('pictures/browser.jpg')
    +slide({header: "", classes: "no-page"})
      video.cover(src="pictures/candy.mp4", autoplay, loop, muted, playsinline, style="width: 100%; max-height: none;")
    +slide({header: "", classes: ""})
      +cover('pictures/ugly.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://github.com/getify/You-Dont-Know-JS") You Don't Know JS (book series)
      +cover('pictures/know.jpg')
    +slide({header: "Fact #2. You have to learn more and more", classes: ""})
      +cover('pictures/bad.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/path.jpg')
    +slide({header: "", classes: "no-page"})
      .copyright Ad says: Learn how to be a web developer in 3 weeks for free, and get a chance to win an iPhone
      +cover('pictures/free.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/job.jpg')
    +slide({header: "", classes: "no-page"})
      video.cover(src="pictures/junior.mp4", autoplay, loop, muted, playsinline, style="width: 100%; max-height: none;")
    +slide({header: "", classes: "no-page"})
      video.cover(src="pictures/middle.mp4", autoplay, loop, muted, playsinline, style="width: 100%; max-height: none;")
    +slide({header: "", classes: "no-page"})
      video.cover(src="pictures/no_thanks.mp4", autoplay, loop, muted, playsinline, style="width: 100%; max-height: none;")
    +slide({header: "", classes: "no-page"})
      video.cover(src="pictures/lead.mp4", autoplay, loop, muted, playsinline, style="width: 100%; max-height: none;")
    +slide({header: "", classes: "black"})
      img.cover(src="pictures/avocado.gif", style="height: 100%; max-width: none;")
    +slide({header: "Fact #3. No one knows what is under the hood", classes: ""})
      +cover('pictures/scared.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/clients.jpg') 
    +slide({header: "", classes: ""})
      +cover('pictures/swift-tweet.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/maked.jpg')
    +slide({header: "", classes: "no-page"})
      video.cover(src="pictures/explosion.mp4", autoplay, loop, muted, playsinline, style="width: 100%; max-height: none;")
    +slide({header: "", classes: "no-page"})
      +cover('pictures/back.jpg')
    +slide({header: "", classes: ""})
      video.cover(src="pictures/netscape.mp4", autoplay, loop, muted, playsinline)
    +slide({header: "", classes: ""})
      +cover('pictures/wars.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/jquery.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/dead.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://vanillalist.top/") The Vanilla JavaScript Repository
      +cover('pictures/vanilla.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/bootstrap.jpg')
    +slide({header: "*Simple applications", classes: ""})
      +cover('pictures/period_1.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/soc.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/mv.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/angularjs.jpg')
    +slide({header: "", classes: "no-page"})
      a.copyright(href="https://www.youtube.com/watch?v=r1A1VR0ibIQ") Miško Hevery and Brad Green — Keynote
      +cover('pictures/google_feedback.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/spongebob.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/knockout.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/backbone.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/ember.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/ambitions.jpg')
    +slide({header: "*All-in-one tools", classes: ""})
      +cover('pictures/period_2.jpg')
    +slide({header: "", classes: ""})
      video.cover(src="pictures/slow.mp4", autoplay, loop, muted, playsinline, style="height: 100%; max-width: none;")
    +slide({header: "", classes: ""})
      +cover('pictures/react.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://github.com/adam-golab/react-developer-roadmap") React Developer Roadmap
      +cover('pictures/react_way.jpg')
    +slide({header: "", classes: ""})
      video.cover(src="pictures/castle.mp4", autoplay, loop, muted, playsinline, style="width: 100%; max-height: none;")
    +slide({header: "", classes: ""})
      video.cover(src="pictures/zombi.mp4", autoplay, loop, muted, playsinline, style="width: 100%; max-height: none;")
    +slide({header: "", classes: ""})
      +cover('pictures/vue.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/angular.jpg')
    +slide({header: "*Modular tools", classes: ""})
      +cover('pictures/period_3.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/svelte.png')
    +slide({header: "", classes: ""})
      +cover('pictures/polymer.jpg')
    +slide({header: "What is a modern JavaScript framework?", classes: ""})
      ul
        li Component-based code style
        li.next Modular architecture of a framework
        li.next Extendable functionality
        li.next Great performance out of the box
        li.next Ready for SEO
        li.next Good Developer Experience (DX)
      +cover('pictures/want.jpg')
    +slide({header: "", classes: ""})
      h2(style="font-size: 120px; color: white; text-shadow: 0 0 40px #212429, 0 0 40px #212429, 0 0 40px #212429, 0 0 40px #212429, 0 0 20px #212429, 0 0 140px #212429", class="shout") They are all good!
      a.copyright(href="https://2020.stateofjs.com/en-US/technologies/front-end-frameworks/#front_end_frameworks_experience_ranking") State of JavaScript. Front-end Frameworks
      +cover('pictures/good.jpg')
    +slide({header: "How to choose a framework", classes: ""})
      ul
        li Check your experience and a knowledge level
        li.next Understand technical requirements and possible difficulties of the project
        li.next Know your deadlines
    +slide({header: "", classes: ""})
      +cover('pictures/quasar_ionic.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/jamstack.jpg')
    +slide({header: "In the end", classes: ""})
      ul
        li The business is more important than any technologies
        li.next If you know basics, you can learn any JS tool
        li.next Find your life-work balance and use common sense
        li.next Never stop learning
    +slide({header: "P.S.", shout: false, classes: ""})
      h2(style="font-size: 80px", class="shout") What if I would like to&nbsp;compare&nbsp;frameworks?
      +cover('pictures/what-if.png')
    +slide({header: "", classes: ""})
      a.copyright(href="https://medium.freecodecamp.org/a-realworld-comparison-of-front-end-frameworks-with-benchmarks-2019-update-4be0d3c78075") RealWorld Comparison
      +cover('pictures/realworld.jpg')
    +slide({header: "", classes: ""})
      +cover('pictures/community.jpg')
    +slide({header: "", classes: "no-page"})
      +cover('pictures/bullet.jpg')
      +cover('pictures/no.png')
    +slide({header: "", classes: ""})
      h2(style="color: #fff") P.P.S.
      +cover('pictures/webassembly.jpg')
    +slide({header: "", classes: ""})
      a.copyright(href="https://github.com/appcypher/awesome-wasm-langs") Awesome WebAssembly Languages
      +cover('pictures/wasm.jpg')
    +slide({header: "JavaScript development could be...", classes: ""})
      ul
        li Backend development using Node.js
        li.next Mobile development using ReactNative/Ionic/Quasar/...
        li.next Progressive Web Applications (PWA)
        li.next Desktop apps on Electron.js
        li.next 3D-modeling using WebGL
        li.next And yes, it's possible to do 
          a(href="https://www.youtube.com/watch?v=FtwQtTcKHSw" target="_blank") mining crypto in a browser
          | !
    +slide({header: "", classes: ""})
      h2(style="color: #eee") P.P.P.S.
      p(style="display: inline-block; background-color: #000; color: #fff; margin-top: 115px; font-size: 70px; padding: 30px; line-height: 1.2;") Frameworks have a lot of issues and&nbsp;bugs
      +cover('pictures/evil.jpg')
    +slide({name: 'theend', header: "", classes: ''})
      p.end-link(style="position: absolute; bottom: 5%")
        a.bigger(href="http://bit.ly/WeAreDevs-frameworks" target="_blank") bit.ly/WeAreDevs-frameworks
        br
        | Sasha Shynkevich (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      img.cover(src='pictures/the_end.gif', style="min-height: 240%; max-width: none")

    .progress
    script(src='shower/shower.min.js')
